#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 250px;     /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;           /* Footer height */
}

.nounderline {
    text-decoration: none !important
}

.font-l
{
    font-size: 2rem;
}

.font-m
{
    font-size: 1rem;
}

.text-gray
{
    color: gray;
}

.line-on-text
{
    text-decoration: line-through;
}

.sale-card
{
    background-color: red;
    border-radius: 15px;
    font-weight: bold;
    padding: 3px;
}

.bg-spec
{
    background-color: orange;
}